// fizzHeader 的样式
.fizzHeader
  width: 100%;
  height: 160px;
  min-width: 1200px;
  .box
    width: 100%;
    height: 60px;
    background-color: #eee;
   .title
    display: flex
    flex-direction row
    align-items: center
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 1200px;
    cursor pointer
    div
      font-size: 16px;
      font-family: "微软雅黑", "宋体", "黑体";
      color: #000;
      float: left;
      line-height: 60px;
      margin-left: 10px;
    .navigation
      margin-left: 660px;
      div
        font-size: 16px;
        font-family: "微软雅黑", "宋体", "黑体";
        color: #000;
        float: left;
        line-height: 60px;
        margin-left: 26px;
        cursor pointer;
  .logoCon
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    min-width: 1200px;
  .logoCon img
    width: 184px;
    height: 62px;
    margin-top: 20px;
    float: left;
  #search
    width: 400px;
    height: 38px;
    border: 1px solid #fe294d;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 400px;
    vertical-align: middle;
    font-family: "微软雅黑", "宋体", "黑体";
  #sousou
    width: 60px;
    height: 40px;
    background: #fe294d;
    color: #fff;
    border: none;
    font-size: 14px;
    margin-top: 20px;
    vertical-align: middle;
    font-family: "微软雅黑", "宋体", "黑体";
  .nav
    margin-left: 580px;
    margin-top: 10px;
    li
      float left
      font-family: "微软雅黑", "宋体", "黑体";
      font-size: 14px;
      color: #999;
      padding-left: 8px;


// 以下是main.vue 中的样式
.fizzMain
  // display flex
  // flex-direction row
  // align-items center
  // justify-content center
  // padding: 50px 0 0 0
  div
    // width 100px
    text-align center
.enter
  padding: 30px 200px
  .fizzContent
    display: flex
    flex-direction: row
    justify-content center
    align-items: center
    div
      width: 200px
      height: 200px
      overflow hidden
      img
        width: 100%
        height: 100%
.login
  padding: 30px 200px
